[submodule "gdx-test/src/main/java/de/hochschuletrier/gdw/ss14/networktest/--force"]
	path = gdx-test/src/main/java/de/hochschuletrier/gdw/ss14/networktest/--force
	url = http://gitlab.tost-soft.de/tost/gdw_network.git
